*{
   
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;
    margin: 0;
    padding: 0;
}


header, section {
    padding: 2pc;
}

header, footer{
    color: rgb(255, 255, 255);
    background-image: url('img/bg-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header div{
display: inline-block;
vertical-align: middle;
}

 #info-header{
    padding-right: 16%;
    padding-left: 8%;
}

#cont-img-header{
    background-color:rgb(255, 255, 255);
    padding: 8px;
    border-radius: 0.5rem;
}


.title{
    width: 32%;
    border: 2px #331900 solid;
    padding: 8px;
    border-radius: 0.7rem;
    margin-bottom: 1.5pc;  
}

.title img,h2{
    display: inline-block;
    vertical-align: middle; /* pa centrar verticalmente img y h2*/
}

.title img{
    margin-right: 10px; /* gap pa que no esté al lado del img */
}

.title h2{
    color: #aa7c4e;
}

#about p{
    text-align: justify;
}

/* education */
#education{
    list-style: none;
}


#name-courses, #date-courses{
    display: inline-block;
    vertical-align: middle; /* pa centrar verticalmente img y h2*/
    gap: 1pc;
}

#name-courses li, #date-courses li{
    list-style: none;
}

/* experience  */

/* BOOKS */

#info-books li{
    padding-left: 8px;
}
#info-books li a{
    list-style: none;
    text-decoration: none;
    color: #331900;
    font-weight: bold;
}



/* footer */
footer{
    padding: 8px;
    text-align: center; 
}

#icons-footer a{
  
    text-decoration: none;
    color: black; 
    margin: 0 auto; 
    width: 50%; 
    
}